.App {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(242, 0, 101, .4), rgba(255, 208, 0, .4));
position: relative;
}
#help-button {
  font-family: "Bubble",  Regular !important;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5px;
  margin: 10px;
  right: 0px;
}
#help-button:hover {
  cursor: pointer;
}
#cloud-img {
  top: 5vh;
  left: -15vw;
  position: absolute;
  z-index: -1;
  animation: float 60s infinite;
}

#prompt {
  width: 80%;
  margin: 0px auto;
  font-family: "Bubble",  Regular !important;
  line-height: 1.6;
  color: white;
  font-size: 32px;
  top: 45vh;
position: relative;
}

#dictaphone {
  z-index: 1;
  top: 50vh;
  position: relative;
}
#dream-generator-logo {
  /*font-family: 'Lobster', cursive;*/
  /*color:rgba(255, 255, 255, 0);*/
  /*color:rgba(0, 0, 0, .4);*/
  /*font-size:124px;*/
  top: 40vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  #help-button {
    animation: spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#command-container {
  width: 50%;
  margin: 0px auto;
  position: relative;
  line-height: 1.6;
}
.half {
  width: 50%;
  position: relative;
  float: left;
}
.spin {
  animation: spin infinite 20s linear;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.description {
  width: 80%;
  left: 10%;
  height: 150px;
  position: relative;
  line-height: 1.6;
}
.big {
  font-size: 64px;
  margin-right: 12px;
  margin-top: 20px;
}
.medium {
  font-size: 24px;
}
.linebreak {
  height: 100px;
}

#help-page {
  width: 88%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 6%;
  /*background-color:rgba(242, 0, 101, .9);*/
  /*background-image: linear-gradient(rgba(242, 0, 101, .9), rgba(255, 208, 0, .9));*/
  /*background-color: rgba(255, 208, 255, .95);*/
  font-family: "Bubble",  Regular !important;
  background-color: rgba(122, 206, 255,.95);
  border-radius: 8px;
  z-index: 1;

}
.close {
  cursor: pointer;
  font-size: 36px;
  margin: 8px;
}
Button {
  /*font-weight: bolder !important;*/
}

@keyframes spin {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.pronounced-button {
  position: relative;
  font-family: "Bubble",  Regular !important;
  animation: pulse 1s infinite;
}

#start-button {
  top: 50vh;
}
#save-button {
  position: relative;
  margin: 20px;
  top: 60vh;
}

#full-story {
  position: relative;
  font-family: "Bubble",  Regular !important;
}
#story {
  top: 20vh;
  position: relative;
  width: 80%;
  margin: 0px auto;
}
#mic-button {
  visibility: hidden;
  /*animation: pulse 1s infinite;*/
}
.circle {
  animation: pulse 1s infinite !important;
}
#day-img {
  position: absolute;
  top: 33vh;
  transform: translate(-80px, 0px);
}
@keyframes pulse {
  0% {
    opacity: .8;
    /*transform: scale(1);*/
  }
  50% {
    opacity: 1;
    transform: scale(1.05,1.05);
  }
  100% {
    opacity: .8;
    /*transform: scale(1);*/
  }
}
@keyframes pulse12 {
  0% {
    opacity: .8;
    /*transform: scale(1);*/
  }
  50% {
    opacity: 1;
    transform: scale(1.2,1.2);
  }
  100% {
    opacity: .8;
    /*transform: scale(1);*/
  }
}

@keyframes float {
  0% {
    transform: translate(-200px, 0px);
  }
  100% {
    transform: translate(500px, 0px);
  }
}

.centered {
  margin: 0px auto !important;
  position: relative !important;


  /*display: inline !important;*/
}
